<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    
    <target name="logfile" xsi:type="File" fileName="${basedir}/${shortdate}.log" deleteOldFileOnStartup="false" layout="${callsite-linenumber} ${message} ${onexception:${newline}${exception:format=tostring}}"/>
    <target name="logfile2" xsi:type="File" fileName="${basedir}/${shortdate}_2.log" deleteOldFileOnStartup="false" layout="${callsite-linenumber} ${message} ${onexception:${newline}${exception:format=tostring}}"/>
    <target name="logconsole" xsi:type="Console"  layout="${callsite-linenumber} ${message} ${exception:format=tostring}" />
    <target xsi:type="Debugger" name="debugger"  layout="${message}|${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole,logfile2" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debugger"/>

  </rules>
</nlog>