<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.57" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.105.1" targetFramework="net472" />
  <package id="Carbon.Jose" version="0.29.0" targetFramework="net472" />
  <package id="Carbon.Json" version="2.0.0" targetFramework="net472" />
  <package id="Carbon.OAuth2" version="1.0.0" targetFramework="net472" />
  <package id="Carbon.Time" version="1.11.0" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="2.9.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="2.9.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.5.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.40.2" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net472" />
  <package id="Google.Apis.Storage.v1" version="1.38.0.1470" targetFramework="net472" />
  <package id="Google.Authentication" version="0.29.0" targetFramework="net472" />
  <package id="Google.Cloud.Storage.V1" version="2.3.0" targetFramework="net472" />
  <package id="Google.Cloud.Vision.V1" version="1.6.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net472" />
  <package id="Google.Vision" version="0.21.0" targetFramework="net472" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net472" />
  <package id="Grpc.Core" version="1.22.0" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="1.22.0" targetFramework="net472" />
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Formats.Raster.Common" version="20.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Image.Processing" version="20.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Kernel" version="20.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Pdf" version="20.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Pdf.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Pdf.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLog" version="4.6.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.CommandLine.DragonFruit" version="0.3.0-alpha.19405.1" targetFramework="net472" />
  <package id="System.CommandLine.Experimental" version="0.3.0-alpha.19405.1" targetFramework="net472" />
  <package id="System.CommandLine.Rendering" version="0.3.0-alpha.19405.1" targetFramework="net472" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net472" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>